.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.customer-card {
  border: 2px solid black;
  border-radius: 7px;
  width: 70%;
  padding: 20px;
}

.spinner {
  font-size: larger;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}